
      
  h1{
            text-align:center;
	    background-image:url("marble-2371776_1920.jpg");
            font-family:"helvecta", sans-serif;
             color:#006d77;
             font-weight:bold;
             font-size:45px;
	  padding:6px;
	 
         

        }
	#body{
	width:65%;
        float:left;
	background-color:#e5e5e5;
        border-width: 2px;
        border-color: #83c5be;
        border-style: solid;
		overflow:scroll;
		padding:5px
			
	
	}
#body2{
	width:35%;
	background-color:rgb(0, 109, 119);
	border-width: 2px;
	  border-style: solid;
	  border-color: #83c5be;
	overflow:scroll;
	margin:auto;
	
		
}
ul.nav {
    
display: flex;
  list-style-type: none;
  padding:0 ;
  margin:auto;
  overflow: hidden;
  background-color: #83c5be;
width:100%;
}

li.nav {
  margin:auto;
display: inline-block;
text-align:center;
float:left; 
}
li a.nav {
    width:10vw;
    margin:auto;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin:auto;
}

li.nav a:hover {
  background-color:#006d77;
}



        h2{
            font-family::"Times New Roman", Times, serif;
		 color:#006d77;
        }
	h3{
		font-family::"Times New Roman", Times, serif;
		color: rgb(41, 41, 41);
		
	}
            h4{
                  font-family::"Times New Roman", Times, serif;  
		color: rgb(41, 41, 41);
            }
p{
font-family::"georgia", Times, serif;
	color: rgb(41, 41, 41);
	font-size:16px

}
p.links{
background-color:lightblue;
text-align:center;
line-height:40px;
font-size:20pt;

}
            #intro{
        
                 background-color:#d6d6d6;
                 padding: 15px;
		    text-align:center;
            }
th{
	padding:10px;
}
#sidea{
	background-color:#97d9d2;
	text-align:left;

}
#sideb{
	background-color:#e5e5e5;
}
        
        .ctn{
            margin-top:6pt;
            margin-bottom:26pt;
            padding:1px;
            color:#d6d6d6;
            font-family:monospace;
            background-color:#d6d6d6;

        }

            info{
                font-family::"Times New Roman", Times, serif;
                text-align:center;
		     color:#006d77;
            }
              .post{
background-color:#e5e5e5;
               border-width: 5px;
  border-color: #83c5be;
  border-style: solid;
		      padding:5px;
             }
#second{
background-color:#e29578;
	padding:4px;
}
figure.cen{
	text-align:center;
}
